body {   
    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}
h1 {
    color: #0070C0;
}
.main-text {
    margin-bottom: 10px;
}
.main-text a {
    color: #0070C0;
}
.text-color {
    color: #ff0000;
}
.form {
    clear:both; 
    text-align:right; 
    line-height:2px;
}
.all-form {
     float: left;
     margin-left: 5px;
     font-weight: bold;
     padding-right:12px;
}
.login-form {
    margin-left: 5px;
    float: left;
    padding-top: 10px;
    margin-bottom: 11px;
}
.password-form {
    margin-left: 5px;
    float: left;
    padding-top: 20px;
}
.another-form {
    padding-top: 16px;
    margin-top: 9px;
}
.pol {
    margin-top: -9px;
    margin-left: 62px; 
    text-align: center;
}
.main-form {
    float:left; 
}
.field {
    width: 220px;
    height: 28px;
    margin-bottom: 8px;
    border: 1px solid #6D6D6D;
    background-image: linear-gradient(rgba(255, 255, 255,1), rgba(243, 243, 243,1));
    border-radius:2px;
}
.personal-data {
    clear:both; 
    float: left;
}
.botton {
    height: 34px;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 500;
    margin-top: 5px;
}
.cancel-botton {
    margin:5px;
    width: 107px;
    border: 1px solid #A3A3A3;
    background-image: linear-gradient(rgba(255, 255, 255,1), rgba(219, 219, 219,1));
}
.registration-botton {
    width: 181px;
    border: 1px solid #243356;
    background-image: linear-gradient(rgba(66, 110, 216,1), rgba(38, 55, 96,1));
    color: #ffffff; 
}